.SelectContainer {
    display: grid;
    grid-template-rows: auto auto auto;
    height: 500px;
    background-color: #d3d3d3;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 10px;
    gap: 10px;
}

.SelectLayoutDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.SelectLayoutHeaderSpan2 {
    grid-row: 1;
    grid-column: 1 / span 2;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #808080;
}

.SelectLayoutHeaderSpan3 {
    grid-row: 1;
    grid-column: 1 / span 3;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #808080;
}

.SelectLayoutColumnOne {
    grid-row: 2;
    grid-column: 1;
    border: 1px solid #ccc;
    padding: 60px;
    background-color: #808080;
}

.SelectLayoutColumnTwo {
    grid-row: 2;
    grid-column: 2;
    border: 1px solid #ccc;
    background-color: #808080;
    padding: 60px;
}

.SelectLayoutColumnThree {
    grid-row: 2;
    grid-column: 3;
    border: 1px solid #ccc;
    background-color: #808080;
    padding: 60px;
}

.SelectLayoutFooter {
    grid-row: 3;
    grid-column: 1 / span 2;
    border: 1px solid #ccc;
    background-color: #808080;
    height: 32px
}

/* Adjust styles for smaller screens */
@media (max-width: 768px) {
    .selectLayoutDiv {
        justify-content: center;
    }
}